@page
@model ResetPasswordConfirmationModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Title"];
}

<h1>@ViewData["Title"]</h1>
<p>
    @Localizer["Message"] <a asp-page="./Login">@Localizer["MessageRef"]</a>.
</p>
