@model NodeApp.Objects.SettingsObjects.SmsServicesConfiguration.SMSIntelServiceConfiguration
@using static NodeApp.Objects.SettingsObjects.SmsServicesConfiguration.SmsServiceTypes   
        <div class="form-group">
            <label asp-for="ServiceName" class="control-label"></label>
            <input asp-for="ServiceName" class="form-control" value="@SMSIntel" readonly />
            <span asp-validation-for="ServiceName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ServiceUrl" class="control-label"></label>
            <input asp-for="ServiceUrl" class="form-control" />
            <span asp-validation-for="ServiceUrl" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="AuthToken" class="control-label"></label>
            <input asp-for="AuthToken" class="form-control" />
            <span asp-validation-for="AuthToken" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SenderName" class="control-label"></label>
            <input asp-for="SenderName" class="form-control" />
            <span asp-validation-for="SenderName" class="text-danger"></span>
        </div>
    